body {
    font-family: 'Varela Round', sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.form-control {
    box-shadow: none;
    border-radius: 4px;
}
.form-control:focus {
    border-color: #5c6ac4;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

/*for bigger text boxes (creating/grading/taking lessons)*/

.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}

.search input {
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4
}

.search input:focus {
    box-shadow: none;
    border: 2px solid #5c6ac4
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 16px
}

.search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: #5c6ac4
}
.search-box i {
    color: #a0a5b1;
    font-size: 19px;
}

.signup {
    padding-left: 10vw;
    align-content: center;
}

.navbar {
    background: #fff;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid #dfe3e8;
    border-radius: 0;
}
.nav img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin: -8px 0;
    float: left;
    margin-right: 10px;
}
.navbar .navbar-brand, .navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
    padding-left: 0;
    font-size: 20px;
    padding-right: 50px;
}
.navbar .navbar-brand b {
    font-weight: bold;
    color: #5c6ac4;		
}
.navbar .form-inline {
    display: inline-block;
}
.navbar ul.nav li {
    position: relative;
}
.navbar ul.nav li a {
    color: #888;
}
.search-box {
    position: relative;
}	
.search-box input {
    padding-right: 35px;
    border-color: #dfe3e8;
    border-radius: 4px !important;
    box-shadow: none
}
.search-box .input-group-addon {
    min-width: 35px;
    border: none;
    background: transparent;
    position: absolute;
    right: 0;
    z-index: 9;
    padding: 7px;
    height: 100%;
}
.search-box i {
    color: #a0a5b1;
    font-size: 19px;
}

.navbar .nav .btn-primary, .navbar .nav .btn-primary:active {
    color: #fff;
    background: #5c6ac4;
    padding-top: 8px;
    padding-bottom: 6px;
    border-radius: 4px;
    vertical-align: middle;
    border: none;
    min-width: 120px;
    margin-top: 8px;
}
.navbar .navbar-right li:first-child a {
    padding-right: 30px;
}
.navbar .nav .btn-primary:hover, .navbar .nav .btn-primary:focus {		
    color: #fff;
    outline: none;
    background: #5765c1;
}
.search-box .btn span {
    transform: scale(0.9);
    display: inline-block;
}
.navbar ul li i {
    font-size: 18px;
}
.navbar .dropdown-menu i {
    font-size: 16px;
    min-width: 22px;
}
.navbar ul.nav li.active a, .navbar ul.nav li.open > a {
    background: transparent !important;
}
.navbar .dropdown-menu {
    border-radius: 1px;
    border-color: #e5e5e5;
    box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.navbar .nav .dropdown-menu li a, .navbar .nav .dropdown-menu li a:hover, .navbar .nav .dropdown-menu li a:focus {
    padding: 8px 20px;
    line-height: normal;
}
.navbar .navbar-form {
    border: none;
}
.navbar .navbar-form-wrapper {
    padding: 0 15px;
}
.navbar .login-form label {
    color: #888;
    font-weight: normal;
}
.navbar .dropdown-menu.login-form {
    width: 280px;
    padding: 20px;
    left: auto;
    right: 0;
    font-size: 14px;
}
.navbar .nav .dropdown-menu.login-form a {
    padding: 0 !important;
    color: #5c6ac4;
    font-weight: normal;
}
.navbar .nav .dropdown-menu.login-form a:hover{
    text-decoration: underline;
}
.navbar .dropdown-menu.login-form .checkbox-inline {
    margin-top: 10px;
}


header.masthead {
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    text-align: center;
    color: #fff;
    background-image: url("assets/img/header-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
  }
  header.masthead .masthead-subheading {
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1.5rem;
    margin-bottom: 25px;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  header.masthead .masthead-heading {
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 3.25rem;
    margin-bottom: 2rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  .text-uppercase {
    text-transform: uppercase !important;
  }

  .btn-xl {
    padding: 1.25rem 2.5rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 700;
  }

.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #5c6ac4;
}
.flex-container > div {
    background-color: #f1f1f1;
    border-color: black;
    margin: 45px;
    padding: 30px;
}

  .container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
    .container-sm, .container {
      max-width: 540px;
    }
  }
  @media (min-width: 768px) {
    .container-md, .container-sm, .container {
      max-width: 720px;
    }
  }
  @media (min-width: 992px) {
    .container-lg, .container-md, .container-sm, .container {
      max-width: 960px;
    }
  }
  @media (min-width: 1200px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1140px;
    }
  }
  @media (min-width: 1400px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1320px;
    }
  }

@media (min-width: 1200px){
    .form-inline .input-group {
        width: 300px;
        margin-left: 30px;
    }
}
@media (max-width: 768px){
    .navbar .dropdown-menu.login-form {
        width: 100%;
        padding: 10px 15px;
        background: transparent;
        border: none;
    }
    .navbar .form-inline {
        display: block;
    }
    .navbar .input-group {
        width: 100%;
    }
    .navbar .nav .btn-primary, .navbar .nav .btn-primary:active {
        display: block;
    }
}
  
  @media (min-width: 768px) {
      header.masthead {
          padding-top: 17rem;
          padding-bottom: 12.5rem;
      }

      header.masthead .masthead-subheading {
          font-size: 2.25rem;
          font-style: italic;
          line-height: 2.25rem;
          margin-bottom: 2rem;
      }

      header.masthead .masthead-heading {
          font-size: 4.5rem;
          font-weight: 700;
          line-height: 4.5rem;
          margin-bottom: 4rem;
      }

      .tests {
          padding-left: 100px;
      }

      .title {
          padding-left: 175px;
      }

      @media (min-width: 400px) {
          .pics .course1 .course2 .course3 {
              width: 600px;
              max-width: 700px;
          }
      }

      table {
          font-family: "Rage Italic", sans-serif;
          border-collapse: collapse;
          width: 100%;
      }

      td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
      }

      tr:nth-child(even) {
          background-color: #dddddd;
      }
      form-group1

  }