<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="15">
    <title>Profile</title>
    <link href="/Style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-expand-lg navbar-light">
    <div class="navbar-header">
        <a class="navbar-brand" href="index">Log Out</a>
    </div>
</nav>
    <div class="table-responsive text-nowrap">

    <table class="table .w-auto">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Instructor</th>
          <th scope="col">Database call</th>
          <th scope="col">Student</th>
          <th scope="col">Database call</th>
          <th scope="col">Successfull</th>
        </tr>
      </thead>
      <tbody>
      <% listnames.forEach(function(name) { %>
        <tr>
          <th scope="row">1</th>
          <td><%= name %></td>
          <td>Login</td>
          <td>Rupakshi</td>
          <td>Login</td>
          <td>True</td>
        </tr>
      <% }); %>
      </tbody>
    </table>
  
  </div>
</body>
</html>