<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Landing page with Login and signup forms</title>
<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="/Style.css" rel="stylesheet" type="text/css">
<script>
	// Prevent dropdown menu from closing when click inside the form
	$(document).on("click", ".navbar-right .dropdown-menu", function(e){
		e.stopPropagation();
        
	});
</script>
</head> 
<body>
<body>
<nav class="navbar navbar-default navbar-expand-lg navbar-light">
	<div class="navbar-header">
		<a class="navbar-brand" href="/">Chalk<b>Board</b></a>
	</div>
	<!-- Collection of nav links, forms, and other content for toggling -->
	<div id="navbarCollapse" class="collapse navbar-collapse nav navbar-nav" a href="/">
		<ul class="nav navbar-nav">
			<li><a href="/About">About</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">			
			<li>
				<a data-toggle="dropdown" class="dropdown-toggle" href="#">Login</a>
				<ul class="dropdown-menu login-form">					
					<li>
						<form action="auth" method="POST"> <!-- this page tests the login and then leads to index.ejs page-->
							<div class="form-group">
								<label>Username</label>
								<input type="text"  name="username" placeholder="Username" class="form-control" required="required">
							</div>
							<div class="form-group">
								<div class="clearfix">
									<label>Password</label>
									<a href="#" class="pull-right text-muted"><small>Forgot?</small></a>
								</div>
								<input type="password" name="password" placeholder="Password" required class="form-control">
							</div>
							<input type="submit" class="btn btn-primary btn-block" value="Login">
						</form>
					</li>
				</ul>
			</li>
			
		</ul>
	</div>
</nav>
<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Welcome To ChalkBoard!</div>
        <div class="masthead-heading text-uppercase">It's Nice To Meet You</div>
        <div>
            <a class="btn btn-primary btn-xl text-uppercase" href="/InstructorSignUp">Instructor Sign up</a>
            <a class="btn btn-primary btn-xl text-uppercase" href="/StudentSignUp">Student Sign up</a>
        </div>
        
    </div>
</header>
</body>
</html>                            