<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Instructor Nav Bar</title>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-default navbar-expand-lg navbar-light">
          <div class="navbar-header">
            <a class="navbar-brand" href="InstructorCoursesHomePage.ejs">Instructor Home Page</a>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/InstructorCreatingTest">Creating Test</a></li>
              <li><a href="/InstructorGradingTest">Grading Test</a></li>
            </ul>
          </div>
        </nav>
      </header>
</body>
</html>