<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
     <title>Student Courses Home Page</title>
     <link rel="stylesheet" href="../Style.css">-->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Geography</title>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/Style.css" rel="stylesheet" type="text/css">
</head>

<body>
<header>
    <nav class="navbar navbar-default navbar-expand-lg navbar-light">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Chalk<b>Board</b></a>
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="navbar-toggler-icon"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collection of nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse nav navbar-nav" a href="/">
            <ul class="nav navbar-nav">
                <li><a href="/InstructorHome">All Courses</a></li>
                <li><a href=/InstructorGeography>Geography</a></li>
                <li><a href="/InstructorCreatingTest">Creating Test</a></li>
                <li><a href="/InstructorGradingTest">Grading Test</a></li>
                <li><a href="/InstructorProfile">Profile</a></li>
                <form action="instructorlogout" method="POST"> <!-- this page tests the login and then leads to index.ejs page-->
                    <input type="submit" class="btn btn-block" value="Logout">
                </form>
            </ul>
        </div>
    </nav>
</header>
<div class="">
    <h3>Professor Jane Smith</h3>
    <div class="container">
        <img src="/assets/img/Geography.jpg" width=400vw alt="Picture of a Professor" />
        <p>Assignments Due Today</p>
        <ol>
            <li>Geo 101 Lecture Reading</li>
            <li>Geo Quiz</li>
        </ol>
        <p>Assignments Due Soon</p>
        <ol>
            <li>Geo 102 Lecture Reading</li>
            <li>Geo Exam</li>
        </ol>
    </div>
</div>
</body>
</html>