<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
     <title>Instructor Courses Home Page</title>
     <link rel="stylesheet" href="../Style.css">-->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Instructor Courses Home Page</title>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../public/Style.css">
</head>

<body>
<header>

    <nav class="navbar navbar-default navbar-expand-lg navbar-light">
        <div class="navbar-header">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../Index.html">Logout</a></li>
            <li><a href="InstructorCoursesHomePage.ejs">All Courses</a></li>
            <li><a href="../../public/pages/Profile.html">Profile</a></li>
          </ul>
        </div>
      </nav>
</header>
<div class="container">
    <div class="row height d-flex justify-content-center align-items-center">
        <div class="col-md-8">
            <div class="search"> <i class="fa fa-search"></i>
                <input id="search-input" type="text" class="form-control" placeholder="Search">
                <button id="search-button" class="btn btn-primary"
                        onClick="location.href='InstructorSearch.html'">Search</button>
            </div>
        </div>
    </div>
</div>
<script src="../../js/Search.js"></script>
<div class="flex-container">
    <div class="course1">
        <h3>Professor Janet Smithson</h3>
        <div class="container">
            <img src="../../public/assets/img/Geomatry.jpg" width=450 alt="Picture of a Professor" />
           <h4>Geometry</h4>
            <p>Assignments Due Today</p>
            <ol>
                <li>Geo 101 Lecture Reading</li>
                <li>Geo Quiz</li>
            </ol>
            <p>Assignments Due Soon</p>
            <ol>
                <li>Geo 102 Lecture Reading</li>
                <li>Geo Exam</li>
            </ol>
        </div>
    </div>
    <div class="course2">
        <h3>Professor Janet Smithson</h3>
        <div class="container">
            <img src="../../public/assets/img/Geology.jpg" width=450 alt="Picture of a Professor" />
            <h4>Geology</h4>
            <p>Assignments Due Today</p>
            <ol>
                <li>Geo 101 Lecture Reading</li>
                <li>Geo Quiz</li>
            </ol>
            <p>Assignments Due Soon</p>
            <ol>
                <li>Geo 102 Lecture Reading</li>
                <li>Geo Exam</li>
            </ol>
        </div>
    </div>

    <div class="course3">
        <h3>Professor Janet Smithson</h3>
        <div class="container">
            <img src="../../public/assets/img/Geography.jpg" width=450 alt="Picture of a Professor" />
           <h4>Geography</h4>
            <p>Assignments Due Today</p>
            <ol>
                <li>Geo 101 Lecture Reading</li>
                <li>Geo Quiz</li>
            </ol>
            <p>Assignments Due Soon</p>
            <ol>
                <li>Geo 102 Lecture Reading</li>
                <li>Geo Exam</li>
            </ol>
        </div>
    </div>
</div>
</body>
</html>