<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Search Results</title>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/Style.css" />
</head>

<body>
<header>
    <nav class="navbar navbar-default navbar-expand-lg navbar-light">
        <div class="navbar-header">
            <a class="navbar-brand" href="/InstructorHome">My Courses</a>
        </div>
</header>
<div class="container">
    <div class="row height d-flex justify-content-center align-items-center">
        <form>
            <div class="col-md-8">
                <div class="search"> <i class="fa fa-search"></i>
                    <input id="search" name="search" type="text" class="form-control" placeholder="Search">
                    <button id="search-button" class="btn btn-primary"
                            onClick="this.form.submit()">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $( document ).ready(function() {
        <% for (var i =0; i< searchResults.length; i++) { %>
            document.getElementById('result').innerHTML += '<p> <%= searchResults[i]['coursename'] %></p>'
            document.getElementById('result').innerHTML += '<p> Description: <%= searchResults[i]['description'] %></p>'
            <%} %>
    });
</script>
<div class="flex-container">
    <div id="result"></div>
    <div class="course2">
        <h2>Geology</h2>
        <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover"
                data-placement="bottom" data-content="Enrolled">
            Add/Drop
        </button>
        <h3>Professor Janet Smithson</h3>
        <img src="../../assets/img/Geology.jpg" width=100px alt="Picture of a Professor" />

    </div>
</div>
</body>

</html> -->