<header>
    <nav class="navbar navbar-default navbar-expand-lg navbar-light">
      <div class="navbar-header">
        <a class="navbar-brand" href="/InstructorCoursesHomePage">Instructor Home Page</a>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/InstructorCoursesHomePage">Home</a> &nbsp;</li>
          <li><a href="/InstructorCreatingTest">Creating Lessons</a></li>
          <li><a href="/InstructorGradingTest">Grading Lessons</a></li>
        </ul>
      </div>
    </nav>
  </header>