<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
     <title>Student Courses Home Page</title>
     <link rel="stylesheet" href="../Style.css">-->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student Roster</title>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="../Style.css" rel="stylesheet" type="text/css">
</head>
<nav class="navbar navbar-default navbar-expand-lg navbar-light">
    <div class="navbar-header">
        <a class="navbar-brand" href="/InstructorHome">Chalk<b>Board</b></a>
        <ul class="nav navbar-nav navbar-right">
        </ul>
    </div>
</nav>
<!--<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>-->
<body>

<h2>Student Roster</h2>

<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
    </tr>
    <tr>
        <td>Alice</td>
        <td>Smith</td>
        <td>alice.smith@gmail.com</td>
    </tr>
    <tr>
        <td>Monica</td>
        <td>Green</td>
        <td>monica.green@yahoo.com</td>
    </tr>
    <tr>
        <td>Ernst</td>
        <td>Mendel</td>
        <td>ernst.mendel@gmail.com</td>
    </tr>
    <tr>
        <td>Hafsah</td>
        <td>Kamal</td>
        <td>hafsah.kamal@gmail.com</td>
    </tr>
    <tr>
        <td>Sam</td>
        <td>Maas</td>
        <td>samiam@yahoo.com</td>
    </tr>
    <tr>
        <td>Henry</td>
        <td>Peter</td>
        <td>harrypotter@gmail.com</td>
    </tr>
</table>

</body>
</html>

