<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
     <title>Student Courses Home Page</title>
     <link rel="stylesheet" href="../Style.css">-->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student Course Home Page</title>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../public/Style.css">
</head>
<!--<style>
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        background-color: RebeccaPurple;
    }
    .flex-container > div {
        background-color: #f1f1f1;
        border-color: black;
        margin: 10px;
        padding: 20px;
    }
</style>-->
<body>
    <header>
        <nav class="navbar navbar-default navbar-expand-lg navbar-light">
            <div class="navbar-header">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../Index.html">Logout</a></li>
                    <li><a href="StudentCoursesHomePage">My Courses</a></li>
                    <li><a href="../../public/pages/StudentTestTaking.html">My Tests</a></li>
                    <li><a href="../../public/pages/StudentProfile.html">Profile</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <h1>Home</h1>
    <div class="flex-container">
        <div class="course1">
            <a href="#"><h2>Mathematics</h2></a>
            <h3>Professor Jane Smith</h3>
            <img src="../../public/assets/img/Geomatry.jpg" width= 100 alt="Picture of a Professor">
            <p>Assignments Due Today</p>
            <ol>
                <li>Math 101 Lecture Reading</li>
                <li>Math 101 Lecture Reading</li>
                <li>Geometry Quiz</li>
            </ol>
            <p>Assignments Due Soon</p>
            <ol>
                <li>Math 102 Lecture Reading</li>
                <li>Geometry Exam</li>
            </ol>
        </div>
        <div class="course2">
            <a href="#"><h2>Geology</h2></a>
            <h3> Professor Janet Smithson</h3>
            <img src="../../public/assets/img/Geology.jpg" width= 100 alt="Picture of a Professor">
            <p>Assignments Due Today</p>
            <ol>
                <li>Geology Lab</li>
                <li>Geology Lesson</li>
            </ol>
            <p>Assignments Due Soon</p>
            <ol>
                <li>Geology Quiz</li>
                <li>Geology Essay</li>
            </ol>
        </div>

        <div class="course3">
            <a href="#"><h2>Geography</h2></a>
            <h3> Professor Minni Max</h3>
            <img src="../../public/assets/img/Geography.jpg" width= 100 alt="Picture of a Professor">
            <p>Assignments Due Today</p>
            <ol>
                <li>Geography 101 Lecture Reading</li>
                <li>Geography Quiz</li>
            </ol>
            <p>Assignments Due Soon</p>
            <ol>
                <li>Geography 102 Lecture Reading</li>
                <li>Geography Exam</li>
            </ol>
        </div>
    </div>
</body>
</html>